<!DOCTYPE html>
<html>
  <head>
    <title>Create a Room</title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body>
    <p class="bg-blue-600">Hello World</p>
  </body>
</html>
