<!DOCTYPE html>
<html>
  <head>
    <title>Create your Vox Link Room</title>
    <link rel='stylesheet' href='/styles/style.css' />
    <link rel="stylesheet" href="/styles/anims.css">
  </head>
  <body class="bg-[#040508]">
    
   
      <div class="bg-[#040508] fixed border border-sky-500 p-10 text-center rounded-xl shadow-lg">
        <label class="mb-5 block text-2xl font-semibold text-gray-100">
          Join a Room
        </label>
  
        <label class="mb-5 block text-md font-thin text-gray-100">
          To join a room you will need a room ID or an Room link
        </label>
        <div class="mb-8">
          <label
            class="mb-4 block text-base font-medium text-gray-100"
          >
            Room Link or Room ID
          </label>
          <input
            autocomplete="off"
            autocapitalize="off"
            id="join-room-id"
            placeholder="Room Link or Room ID"
            class="w-full rounded-full border border-white bg-transparent py-3 px-6 text-base font-medium text-white outline-none focus:border-sky-500 focus:shadow-md"
          />
        </div>
  
        <div>
          <button
            class="hover:shadow-form flex justify-center gap-3 items-center w-full rounded-xl bg-sky-500 py-3 px-8 text-center text-base font-semibold text-white outline-none"
          >
  
          Join Room
          </button>
            <label class="my-4 block text-2xl text-center font-extrabold text-gray-100">
              Or
            </label>
            <button
            class="hover:shadow-form w-full rounded-xl bg-transparent border border-sky-500 py-3 px-8 text-center text-base font-semibold text-sky-500 outline-none"
            id="exit-join-room"
            >
            Cancel
          </button>
          </div>
      </div>
  

    <div class="min-h-screen flex justify-center items-center">
      <div class="grid grid-cols-3 gap-4 px-8">
        <div style="border: 1px solid rgb(255, 255, 255);" class=" bg-[#080a10] rounded-lg py-10 px-28 flex flex-col items-center justify-center shadow-md">
          <img style="border: 1.5px solid rgb(255, 255, 255);" src="/assets/img/default_user.jpeg" alt="Avatar" class="rounded-full w-20 h-full mb-4">
          <h2 class="text-2xl font-bold mb-2 text-white">Username</h2>
      </div>



      

      </div>
  </div>
  
  </body>
</html>
